<h1>Edit your profile here</h1>
<!-- need to put form_for and also render partial & object to render the _form.html -->
<!-- either use form_for in edit/new.html or in the _form.html for the render form to work -->
<%= form_for @user do |form| %>
  <%= render partial: 'form', object: form %>
  <p> terms and conditions </p>
<% end %>
<p>Users#edit</p>
