<h1>This is your reservation</h1>
<p> Start Date: <%= @reservation.date_start %> </p>
<p> End Date: <%= @reservation.date_end %> </p>
<p> Guest Number: <%= @reservation.guest %> </p>

<p>Reservations#show</p>
<p>Find me in app/views/reservations/show.html.erb</p>
